n8n-workflows/subtitle-fetcher-complete-with-turso.json
{
  "name": "Subtitle Fetcher Complete with Download and Turso",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subtitle-fetcher-complete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "subtitle-fetcher-complete"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json.body || {};\nconst endpoint = body.endpoint || '';\n\nif (endpoint !== '/subtitles/fetch') {\n  return {\n    skip_http: true,\n    endpoint: endpoint,\n    body: body\n  };\n}\n\nconst imdbId = body.imdb_id || '';\nconst language = body.language || 'en';\n\nif (!imdbId) {\n  return {\n    error: 'IMDb ID is required'\n  };\n}\n\nconst cleanImdbId = imdbId.replace(/^tt/, '');\n\nreturn {\n  clean_imdb_id: cleanImdbId,\n  original_imdb_id: imdbId,\n  language: language,\n  endpoint: endpoint,\n  force_refresh: body.force_refresh || false\n};"
      },
      "id": "prepare-api",
      "name": "Prepare API Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.opensubtitles.com/api/v1/subtitles?imdb_id={{ $json.clean_imdb_id }}&languages={{ $json.language }}",
        "authentication": "none",
        "options": {}
      },
      "id": "http-search",
      "name": "HTTP Request - Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const apiResponse = $input.first().json;\nconst prepareData = $input.first().json.previousData || {};\n\nif (!apiResponse || !apiResponse.data || apiResponse.data.length === 0) {\n  return {\n    success: false,\n    error: 'No subtitles found',\n    message: 'Check IMDb ID or try another language'\n  };\n}\n\nconst bestSubtitle = apiResponse.data.reduce((best, current) => {\n  const currentDownloads = (current.attributes.download_count || 0) + (current.attributes.new_download_count || 0);\n  const bestDownloads = best ? (best.attributes.download_count || 0) + (best.attributes.new_download_count || 0) : 0;\n  return currentDownloads > bestDownloads ? current : best;\n}, null);\n\nif (!bestSubtitle) {\n  return {\n    success: false,\n    error: 'Cannot select subtitle'\n  };\n}\n\nconst fileId = bestSubtitle.attributes.files?.[0]?.file_id;\nif (!fileId) {\n  return {\n    success: false,\n    error: 'File ID missing'\n  };\n}\n\nreturn {\n  success: true,\n  file_id: fileId,\n  subtitle_info: {\n    id: bestSubtitle.id,\n    file_id: fileId,\n    language: bestSubtitle.attributes.language,\n    total_downloads: (bestSubtitle.attributes.download_count || 0) + (bestSubtitle.attributes.new_download_count || 0),\n    release: bestSubtitle.attributes.release,\n    file_name: bestSubtitle.attributes.files[0].file_name,\n    movie_title: bestSubtitle.attributes.feature_details?.title,\n    movie_year: bestSubtitle.attributes.feature_details?.year,\n    imdb_id: prepareData.original_imdb_id || bestSubtitle.attributes.feature_details?.imdb_id\n  }\n};"
      },
      "id": "select-best",
      "name": "Select Best Subtitle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.opensubtitles.com/api/v1/download",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { file_id: $json.file_id } }}",
        "options": {}
      },
      "id": "http-download",
      "name": "HTTP Request - Download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const downloadResponse = $input.first().json;\nconst subtitleInfo = $input.first().json.subtitle_info || {};\n\nif (!downloadResponse || !downloadResponse.link) {\n  return {\n    success: false,\n    error: 'Download link not found',\n    message: 'Cannot get subtitle download link'\n  };\n}\n\nconst downloadLink = downloadResponse.link;\nconst fileName = downloadResponse.file_name || subtitleInfo.file_name || 'subtitle.srt';\n\nreturn {\n  success: true,\n  download_link: downloadLink,\n  file_name: fileName,\n  subtitle_info: subtitleInfo,\n  remaining_quota: downloadResponse.remaining,\n  message: 'Download link obtained successfully'\n};"
      },
      "id": "prepare-download",
      "name": "Prepare Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.download_link }}",
        "authentication": "none",
        "options": {}
      },
      "id": "http-fetch-srt",
      "name": "HTTP Request - Fetch SRT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const srtContent = $input.first().json;\nconst subtitleInfo = $input.first().json.subtitle_info || {};\n\nif (!srtContent || typeof srtContent !== 'string') {\n  return {\n    success: false,\n    error: 'SRT content not found',\n    message: 'Cannot fetch subtitle file'\n  };\n}\n\nfunction parseSRT(srtContent) {\n  const lines = srtContent.split('\\n');\n  const subtitles = [];\n  let currentSubtitle = null;\n  let lineNumber = 0;\n  \n  while (lineNumber < lines.length) {\n    const line = lines[lineNumber].trim();\n    \n    if (line === '') {\n      if (currentSubtitle && currentSubtitle.text) {\n        subtitles.push({...currentSubtitle});\n      }\n      currentSubtitle = null;\n    } else if (/^\\d+$/.test(line)) {\n      currentSubtitle = {\n        sequence_number: parseInt(line),\n        start_time: '',\n        end_time: '',\n        text: ''\n      };\n    } else if (line.includes('-->')) {\n      if (currentSubtitle) {\n        const [start, end] = line.split('-->').map(t => t.trim());\n        currentSubtitle.start_time = start;\n        currentSubtitle.end_time = end;\n      }\n    } else if (currentSubtitle) {\n      if (currentSubtitle.text) {\n        currentSubtitle.text += ' ' + line;\n      } else {\n        currentSubtitle.text = line;\n      }\n    }\n    \n    lineNumber++;\n  }\n  \n  if (currentSubtitle && currentSubtitle.text) {\n    subtitles.push(currentSubtitle);\n  }\n  \n  return subtitles;\n}\n\nconst parsedSubtitles = parseSRT(srtContent);\n\nif (parsedSubtitles.length === 0) {\n  return {\n    success: false,\n    error: 'No subtitles parsed',\n    message: 'SRT parsing failed'\n  };\n}\n\nreturn {\n  success: true,\n  imdb_id: subtitleInfo.imdb_id || 'unknown',\n  language: subtitleInfo.language || 'en',\n  movie_title: subtitleInfo.movie_title || 'Unknown',\n  movie_year: subtitleInfo.movie_year,\n  total_entries: parsedSubtitles.length,\n  subtitles: parsedSubtitles.slice(0, 10),\n  sample_subtitles: parsedSubtitles.slice(0, 3),\n  subtitle_info: subtitleInfo,\n  message: `Successfully parsed ${parsedSubtitles.length} subtitle entries`\n};"
      },
      "id": "parse-srt",
      "name": "Parse SRT Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response-final",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare API Call": {
      "main": [
        [
          {
            "node": "HTTP Request - Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Search": {
      "main": [
        [
          {
            "node": "Select Best Subtitle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Best Subtitle": {
      "main": [
        [
          {
            "node": "HTTP Request - Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Download": {
      "main": [
        [
          {
            "node": "Prepare Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Download": {
      "main": [
        [
          {
            "node": "HTTP Request - Fetch SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Fetch SRT": {
      "main": [
        [
          {
            "node": "Parse SRT Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SRT Content": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["complete", "download", "parse", "production"]
}
