n8n-workflows/subtitle-fetcher-simple.json
{
  "name": "Subtitle Fetcher Simple",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subtitle-fetcher-simple",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-simple",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "subtitle-fetcher-simple"
    },
    {
      "parameters": {
        "jsCode": "// 嘗試獲取請求數據\\nconst inputData = $input.first();\\nconst jsonData = inputData.json;\\n\\n// 記錄調試信息\\nconsole.log('Full input:', JSON.stringify(inputData, null, 2));\\n\\n// 獲取 body\\nlet body = jsonData.body || jsonData || {};\\n\\n// 根據 endpoint 處理\\nconst endpoint = body.endpoint || '';\\nconst result = {\\n  success: true,\\n  endpoint: endpoint,\\n  received_data: body,\\n  debug_info: {\\n    has_body: !!jsonData.body,\\n    body_keys: Object.keys(body || {}),\\n    json_data_keys: Object.keys(jsonData || {})\\n  },\\n  message: `接收到請求: ${endpoint}`\\n};\\n\\n// 如果是熱門影片請求\\nif (endpoint === '/movies/popular') {\\n  result.data = [\\n    { id: 1, title: '測試電影 1', year: 2023, imdb_id: 'tt1234567' },\\n    { id: 2, title: '測試電影 2', year: 2022, imdb_id: 'tt7654321' }\\n  ];\\n  result.message = '熱門影片抓取成功（測試數據）';\\n}\\n// 如果是搜尋請求\\nelse if (endpoint === '/movies/search') {\\n  result.query = body.query || '';\\n  result.data = [\\n    { id: 3, title: `搜尋結果: ${body.query}`, year: 2021, imdb_id: 'tt1111111' }\\n  ];\\n  result.message = '影片搜尋成功（測試數據）';\\n}\\n\\nreturn [result];"
      },
      "id": "code-simple",
      "name": "Process Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response-simple",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Request": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}