n8n-workflows/subtitle-fetcher-complete-real.json
{
  "name": "Subtitle Fetcher Complete Real",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subtitle-fetcher-real",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-main",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "subtitle-fetcher-real"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.endpoint }}",
              "rightValue": "/subtitles/fetch",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-subtitles",
      "name": "Is Fetch Subtitles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 處理其他端點請求\nconst body = $input.first().json.body || {};\nconst endpoint = body.endpoint || '';\n\nif (endpoint === '/movies/popular') {\n  return {\n    success: true,\n    endpoint: endpoint,\n    data: [\n      { id: 1, title: 'Inception', year: 2010, imdb_id: 'tt1375666' },\n      { id: 2, title: 'The Matrix', year: 1999, imdb_id: 'tt0133093' },\n      { id: 3, title: 'Interstellar', year: 2014, imdb_id: 'tt0816692' }\n    ],\n    page: body.page || 1,\n    message: '熱門影片抓取成功'\n  };\n} else if (endpoint === '/movies/search') {\n  return {\n    success: true,\n    endpoint: endpoint,\n    query: body.query || '',\n    data: [\n      { id: 4, title: `搜尋結果: ${body.query}`, year: 2021, imdb_id: 'tt9999999' }\n    ],\n    message: '影片搜尋成功'\n  };\n} else {\n  return {\n    success: false,\n    error: 'Unknown endpoint',\n    received_endpoint: endpoint,\n    message: '請檢查 endpoint 參數'\n  };\n}"
      },
      "id": "handle-other",
      "name": "Handle Other Endpoints",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 準備調用 OpenSubtitles API\nconst body = $input.first().json.body || {};\nconst imdbId = body.imdb_id || '';\nconst language = body.language || 'en';\n\nif (!imdbId) {\n  return {\n    error: 'IMDb ID 是必填的'\n  };\n}\n\n// 移除 IMDb ID 中的 'tt' 前綴\nconst cleanImdbId = imdbId.replace(/^tt/, '');\n\n// 構建 API URL\nconst searchUrl = `https://api.opensubtitles.com/api/v1/subtitles?imdb_id=${cleanImdbId}&languages=${language}`;\n\nreturn {\n  url: searchUrl,\n  imdb_id: imdbId,\n  language: language,\n  clean_imdb_id: cleanImdbId\n};"
      },
      "id": "prepare-api",
      "name": "Prepare API Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "none",
        "options": {}
      },
      "id": "http-request",
      "name": "HTTP Request - Search Subtitles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 處理 API 搜索結果並選擇最佳字幕\nconst searchResult = $input.first().json;\nconst previousData = $input.first().json.previousData || {};\n\n// 檢查 API 是否返回錯誤\nif (!searchResult.data || searchResult.data.length === 0) {\n  return {\n    success: false,\n    error: '未找到字幕',\n    message: '請檢查 IMDb ID 或語言設定'\n  };\n}\n\n// 選擇下載次數最多的字幕\nconst bestSubtitle = searchResult.data.reduce((best, current) => {\n  const currentDownloads = current.attributes.download_count + current.attributes.new_download_count;\n  const bestDownloads = best ? best.attributes.download_count + best.attributes.new_download_count : 0;\n  return currentDownloads > bestDownloads ? current : best;\n}, null);\n\nif (!bestSubtitle) {\n  return {\n    success: false,\n    error: '無法選擇字幕',\n    message: '搜索結果為空'\n  };\n}\n\nconst fileId = bestSubtitle.attributes.files[0].file_id;\n\nreturn {\n  success: true,\n  selected_subtitle: {\n    id: bestSubtitle.id,\n    file_id: fileId,\n    language: bestSubtitle.attributes.language,\n    download_count: bestSubtitle.attributes.download_count,\n    release: bestSubtitle.attributes.release,\n    file_name: bestSubtitle.attributes.files[0].file_name,\n    movie: bestSubtitle.attributes.feature_details\n  },\n  file_id: fileId,\n  message: '找到最佳字幕'\n};"
      },
      "id": "select-best",
      "name": "Select Best Subtitle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response-final",
      "name": "Final Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Is Fetch Subtitles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Fetch Subtitles?": {
      "main": [
        [
          {
            "node": "Prepare API Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Other Endpoints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare API Call": {
      "main": [
        [
          {
            "node": "HTTP Request - Search Subtitles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Search Subtitles": {
      "main": [
        [
          {
            "node": "Select Best Subtitle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Best Subtitle": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Other Endpoints": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["real-api", "production", "complete"]
}
