n8n-workflows/subtitle-fetcher-complete-with-turso.json
{
  "name": "Subtitle Fetcher Complete with Turso",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subtitle-fetcher-complete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-main",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "subtitle-fetcher-complete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.endpoint }}",
              "rightValue": "/movies/popular",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-popular",
      "name": "Is Popular Movies?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.endpoint }}",
              "rightValue": "/movies/search",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-search",
      "name": "Is Search Movies?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.endpoint }}",
              "rightValue": "/subtitles/fetch",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-subtitles",
      "name": "Is Fetch Subtitles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 處理熱門影片請求\nconst body = $input.first().json.body || {};\nconst page = body.page || 1;\n\n// 模擬熱門影片數據\nconst popularMovies = [\n  { id: 1, title: 'Inception', year: 2010, imdb_id: 'tt1375666' },\n  { id: 2, title: 'The Matrix', year: 1999, imdb_id: 'tt0133093' },\n  { id: 3, title: 'Interstellar', year: 2014, imdb_id: 'tt0816692' },\n  { id: 4, title: 'The Dark Knight', year: 2008, imdb_id: 'tt0468569' },\n  { id: 5, title: 'Pulp Fiction', year: 1994, imdb_id: 'tt0110912' }\n];\n\nreturn {\n  success: true,\n  endpoint: '/movies/popular',\n  data: popularMovies,\n  page: page,\n  total_pages: 10,\n  message: '熱門影片抓取成功'\n};"
      },
      "id": "process-popular",
      "name": "Process Popular Movies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 處理影片搜尋請求\nconst body = $input.first().json.body || {};\nconst query = body.query || '';\nconst page = body.page || 1;\n\n// 模擬搜尋結果\nconst searchResults = [\n  { id: 101, title: `${query} - Movie 1`, year: 2021, imdb_id: 'tt1234567' },\n  { id: 102, title: `${query} - Movie 2`, year: 2020, imdb_id: 'tt2345678' },\n  { id: 103, title: `${query} - Movie 3`, year: 2019, imdb_id: 'tt3456789' }\n];\n\nreturn {\n  success: true,\n  endpoint: '/movies/search',\n  query: query,\n  data: searchResults,\n  page: page,\n  total_pages: 5,\n  message: '影片搜尋成功'\n};"
      },
      "id": "process-search",
      "name": "Process Search Movies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 處理字幕抓取請求\nconst body = $input.first().json.body || {};\nconst imdbId = body.imdb_id || '';\nconst language = body.language || 'en';\nconst forceRefresh = body.force_refresh || false;\n\nif (!imdbId) {\n  return {\n    success: false,\n    error: 'IMDb ID 是必填的',\n    message: '請提供有效的 IMDb ID'\n  };\n}\n\n// 生成模擬字幕數據\nconst subtitles = [];\nconst startTime = Date.now();\n\n// 生成 100 條字幕條目\nfor (let i = 0; i < 100; i++) {\n  const startTimeMs = i * 2000; // 每 2 秒一條字幕\n  const endTimeMs = (i + 1) * 2000;\n  \n  subtitles.push({\n    id: i + 1,\n    start_time: formatTime(startTimeMs),\n    end_time: formatTime(endTimeMs),\n    text: `這是第 ${i + 1} 條字幕文本 (${language.toUpperCase()})`,\n    language: language,\n    imdb_id: imdbId\n  });\n}\n\n// 時間格式化函數\nfunction formatTime(ms) {\n  const seconds = Math.floor(ms / 1000);\n  const hours = Math.floor(seconds / 3600);\n  const minutes = Math.floor((seconds % 3600) / 60);\n  const secs = seconds % 60;\n  \n  return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${secs.toString().padStart(2, '0')},000`;\n}\n\nconst processingTime = Date.now() - startTime;\n\n// 返回結果，包含字幕數據準備插入資料庫\nreturn {\n  success: true,\n  endpoint: '/subtitles/fetch',\n  imdb_id: imdbId,\n  language: language,\n  force_refresh: forceRefresh,\n  entries_count: subtitles.length,\n  processing_time_ms: processingTime,\n  subtitles: subtitles,\n  message: '字幕抓取成功，準備匯入資料庫',\n  db_insert_ready: true\n};"
      },
      "id": "fetch-subtitles",
      "name": "Fetch Subtitles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "leftValue": "={{ $json.db_insert_ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-insert-db",
      "name": "Need DB Insert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 將字幕數據轉換為資料庫插入格式\nconst data = $input.first().json;\nconst subtitles = data.subtitles || [];\n\n// 準備資料庫插入的數據\nconst dbRecords = subtitles.map((subtitle, index) => ({\n  operation: 'insert',\n  table: 'subtitles',\n  data: {\n    imdb_id: subtitle.imdb_id,\n    language: subtitle.language,\n    start_time: subtitle.start_time,\n    end_time: subtitle.end_time,\n    text: subtitle.text,\n    sequence_number: subtitle.id,\n    created_at: new Date().toISOString(),\n    updated_at: new Date().toISOString()\n  }\n}));\n\n// 添加影片信息記錄\nconst movieInfo = {\n  operation: 'upsert',\n  table: 'movies',\n  data: {\n    imdb_id: data.imdb_id,\n    title: `電影 ${data.imdb_id}`,\n    year: 2023,\n    last_subtitle_fetch: new Date().toISOString(),\n    subtitle_languages: JSON.stringify([data.language]),\n    created_at: new Date().toISOString(),\n    updated_at: new Date().toISOString()\n  }\n};\n\nreturn {\n  success: true,\n  imdb_id: data.imdb_id,\n  language: data.language,\n  entries_count: data.entries_count,\n  db_records: [movieInfo, ...dbRecords],\n  message: '字幕數據準備完成，即將匯入 Turso 資料庫'\n};"
      },
      "id": "prepare-db-data",
      "name": "Prepare DB Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 模擬 Turso 資料庫插入操作\nconst data = $input.first().json;\nconst dbRecords = data.db_records || [];\n\nconsole.log(`開始插入 ${dbRecords.length} 筆記錄到 Turso 資料庫...`);\n\n// 模擬資料庫插入結果\nconst insertResults = [];\nlet successCount = 0;\nlet errorCount = 0;\n\nfor (let i = 0; i < dbRecords.length; i++) {\n  const record = dbRecords[i];\n  \n  try {\n    // 模擬 SQL 插入\n    const sql = record.operation === 'insert' \n      ? `INSERT INTO ${record.table} (imdb_id, language, start_time, end_time, text, sequence_number, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, ?)`\n      : `INSERT OR REPLACE INTO ${record.table} (imdb_id, title, year, last_subtitle_fetch, subtitle_languages, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?)`;\n    \n    // 模擬執行成功\n    insertResults.push({\n      table: record.table,\n      operation: record.operation,\n      success: true,\n      record_id: i + 1,\n      sql: sql\n    });\n    \n    successCount++;\n  } catch (error) {\n    insertResults.push({\n      table: record.table,\n      operation: record.operation,\n      success: false,\n      error: error.message\n    });\n    errorCount++;\n  }\n}\n\nconsole.log(`資料庫插入完成: ${successCount} 成功, ${errorCount} 失敗`);\n\nreturn {\n  success: true,\n  imdb_id: data.imdb_id,\n  language: data.language,\n  db_operation: 'insert',\n  total_records: dbRecords.length,\n  success_count: successCount,\n  error_count: errorCount,\n  insert_results: insertResults,\n  processing_time: '< 1 second',\n  message: `字幕已成功匯入 Turso 資料庫 (${successCount}/${dbRecords.length} 記錄成功)`\n};"
      },
      "id": "insert-turso",
      "name": "Insert to Turso DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response-final",
      "name": "Final Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 處理未知端點\nconst body = $input.first().json.body || {};\nconst endpoint = body.endpoint || '';\n\nreturn {\n  success: false,\n  error: 'Unknown endpoint',\n  received_endpoint: endpoint,\n  message: '請檢查 endpoint 參數',\n  available_endpoints: [\n    '/movies/popular',\n    '/movies/search', \n    '/subtitles/fetch'\n  ]\n};"
      },
      "id": "handle-unknown",
      "name": "Handle Unknown Endpoint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Is Popular Movies?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Search Movies?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Fetch Subtitles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Popular Movies?": {
      "main": [
        [
          {
            "node": "Process Popular Movies",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Process Popular Movies": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Search Movies?": {
      "main": [
        [
          {
            "node": "Process Search Movies",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Process Search Movies": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Fetch Subtitles?": {
      "main": [
        [
          {
            "node": "Fetch Subtitles",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Subtitles": {
      "main": [
        [
          {
            "node": "Need DB Insert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need DB Insert?": {
      "main": [
        [
          {
            "node": "Prepare DB Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Data": {
      "main": [
        [
          {
            "node": "Insert to Turso DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Turso DB": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Unknown Endpoint": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["complete", "turso", "subtitles"]
}