n8n-workflows/test-simple-workflow.json
{"name":"Simple Test Workflow","nodes":[{"parameters":{"httpMethod":"POST","path":"test-webhook","responseMode":"responseNode","options":{}},"id":"test-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300],"webhookId":"test-webhook"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"return { success: true, message: 'Test workflow works' };"},"id":"test-code","name":"Test Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"test-response","name":"Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[680,300]}],"connections":{"Webhook":{"main":[[{"node":"Test Code","type":"main","index":0}]]},"Test Code":{"main":[[{"node":"Response","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"}}
